@import '../../assets/styles/colors';

section.previewer2 {
  background-color: inherit;
  color: $txtClr;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  gap: 2rem;
  border-left: 5px solid $txtClr;
}

#preview {
  padding: 3rem;
  pre {
    color: $txtClr;
    font-size: 1.4rem;
  }
  code {
    color: $txtClr;
    font-size: 1.4rem;
  }
  p {
    color: $txtClr;
    font-size: 1.4rem;
  }
  img {
    max-width: 90%;
    height: auto;
  }
  table {
    border-collapse: collapse; /* Merge adjacent borders */
    width: 100%;
  }

  /* Style for table rows */
  tr {
    border: 1px solid $tableBorderClr; /* Add a border to each row */
  }

  /* Style for table cells */
  th,
  td {
    border: 1px solid $tableBorderClr; /* Add a border to each cell */
    padding: 8px; /* Add some padding for better spacing */
    text-align: left; /* Align text to the left */
    color: $txtClr;
    font-size: 1.4rem;
  }
  ul,
  ol {
    color: $txtClr;
    font-size: 1.4rem;
  }
}
